@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body,
html {
  width: 340px;
  /* max: 1000px */
  height: 580px;
  /* max: 700px */
  margin: 0;
  border: none;
}
